@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");

:root {
  --green-color: #2bdb1b;
  --light-color: rgb(248, 248, 248);
  --dark-color: rgb(32, 32, 32);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Oswald", sans-serif;
  color: var(--dark-color);
  line-height: 1.6;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* =================Intro================= */
.intro {
  background-color: var(--dark-color);
  color: var(--light-color);
  /* padding: 25px 50px; */
}

.left-column img {
  max-width: 200px;
}

.right-column {
  position: relative;
}

.socials {
  position: absolute;
  right: 0;
  /* margin-bottom: 200px; */
  /* padding-bottom: 50px; */
  margin-top: -50px;
}

.quote-sm {
  position: absolute;
  right: 0;
  margin-right: 30px;
}

.intro ul li {
  display: inline;
  margin-left: 10px;
  margin-top: 30px;
  font-size: 24px;
}

/* =================About================= */
.about {
  background-color: var(--dark-color);
  color: var(--light-color);
  /* padding-bottom: 70px; */
  /* padding: 25px 50px; */
}

/* =================Main================= */
.main {
  background-color: var(--dark-color);
  color: var(--light-color);
  /* padding-bottom: 70px; */
  /* padding: 25px 50px; */
}

/* .main .main-container {
  background-color: var(--light-color);
} */

ul.grid {
  grid-template-columns: repeat(3, 1fr);
}

.thumbnail {
  width: 250px;
  height: 160px;
}

/* .project {
  background-color: var(--dark-color);
  color: var(--light-color);
} */

.proj-title {
  font-size: 16px;
}

.proj-intro {
  font-size: 14px;
}

.hover-shadow:hover {
  /* ???? */
  box-shadow: 0 4px 8px 0 rgba(0, 212, 28, 0.6),
    0 6px 20px 0 rgba(55, 252, 6, 0.5);
}

/* =================Contact================= */
.contact {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 25px 50px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* input[type="submit"] {
  background-color: var(--green-color);
  color: var(--dark-color);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(255, 189, 91);
} */

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-content {
  position: relative;
  background-color: var(--dark-color);
  color: var(--light-color);
  margin: 20% auto;
  padding: 20px;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.3);
  animation-name: modalOpen;
  animation-duration: 0.8s;
}

.closeBtn {
  position: absolute;
  color: var(--green-color);
  float: right;
  font-size: 40px;
  top: 5px;
  right: 20px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: var(--green-color);
  cursor: pointer;
  font-weight: 800;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  margin-left: -20px;
  color: var(--green-color);
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(93, 184, 93, 0.3);
}

.numbertext {
  color: var(--green-color);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* =================Utilities================= */
.main-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 40px;
}

.container {
  padding: 25px 50px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 5px 20px;
  cursor: pointer;
  background: var(--green-color);
  color: var(--dark-color);
  border: none;
  border-radius: 5px;
  margin: 5px 0px;
}

.btn:hover {
  transform: scale(0.95);
}

.shadow {
  box-shadow: 0 3px 10px rgba(1, 255, 1, 0.7);
}

.border-bot {
  border-bottom: 2px solid var(--green-color);
}

/* ==================Tablets and under=============== */
@media (max-width: 768px) {
  ul.grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ======================Mobiles====================== */
@media (max-width: 500px) {
  ul.grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
