{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<!-- Intro -->
<section class="intro container">
  <div class="main-container shadow">
    <div class="intro-wrapper grid">
      <div class="left-column">
        <img class="shadow" src="{% static 'main/photo-web.png' %}" alt="Yuri Sorokins">
      </div>
      <div class="right-column">
        <ul class="socials">
          <li><i class="fab fa-github"></i></li>
          <li><i class="fab fa-linkedin-in"></i></li>
          <li><i class="fas fa-envelope"></i></li>
        </ul>
        <h1 class="border-bot">Yuri Sorokins</h1>
        <p>“Persistence guarantees that results are inevitable.”</p>
        <p><small class="quote-sm">― Paramahansa Yogananda</small></p>
        <!-- <p>I'm a self-taught web developer.</p> -->
      </div>
    </div>
  </div>
</section>

<!-- About me -->
<section class="about container">
  <div class="main-container shadow">
    <div class="grid">
      <div class="left-column">
        <h2 class="border-bot">About Me</h2>
        <p>I love to create web applications and
        enjoy learning new technologies.</p>
      </div>
      <div class="right-column">
        <h2 class="border-bot">Skills</h2>
        <ul>
          <li><i class="fab fa-python"> Python (Django)</i></li>
          <li><i class="fab fa-html5"> HTML</i></li>
          <li><i class="fab fa-css3-alt"> CSS</i></li>
          <li><i class="fab fa-js"> JavaScript</i></li>
          <li><i class="fab fa-bootstrap"> Bootstrap</i></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Main -->
<section class="main container">
  <div class="main-container shadow">
    <h1 class="flex">Portfolio & Past Projects</h1>
    <p class="border-bot flex">Here are some of my recent web development project:</p>
    <ul class="grid">
      {% for project in projects %}
      <li class="project">
        <img class="thumbnail" src="{{project.thumbnail.url}}" alt="Yuri Sorokins">
        <div class="proj-preview">
          <h2 class="proj-title">{{project.h1}}</h2>
          <p class="proj-intro">{{project.intro}}</p>
          <button class="modalBtn btn" onclick="modalOpen();currentSlide( '{{ forloop.counter }}' )">More Info</button>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<!-- Modal -->
<div class="modal container" id="ProjectInfo">

  <div class="modal-content">

    {% for project in projects %}
    <div class="mySlides">
      <span class="closeBtn" onclick="modalClose()">&times;</span>
      <div class="numbertext">{{ forloop.counter }} / {{ total_projects }}</div>
      <h1 class="flex">{{ project.h1 }}</h1>
      <img src="{{project.image.url}}" alt="Yuri Sorokins" style="width:100%">
      <h2 class="tags flex" > {{ project.made_with}} </h2>
      <a class="project-link border-bot" href="{{project.source_file}}">Source Files</a>
      <a class="project-link border-bot" href="{{project.live_demo}}">Live Demo</a>
      <p>{{ project.paragraph|safe}} </p>
      <div class="project-date">
        <p>Created:&#160; {{ project.created_at|date:"M d, Y"}} </p>
        <p>Last updated:&#160; {{ project.updated_at|date:"M d, Y"}} </p>
      </div>
    </div>
    {% endfor %}

    <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>

  </div>
</div>

<!-- Contact -->
<section class="contact container">
  <div class="main-container shadow">
    <h1 class="flex border-bot">Get In Touch</h1>
      <form class="form-container" method="POST" name="myForm" onsubmit="return validateName()">
        {% csrf_token %}
      
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>      
      
        <label for="email">Email </label>
        <input type="email" id="email" name="email" required>
      
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" required>

        <label for="message">Message</label>
        <textarea id="message" name="message" style="height:120px" required></textarea>

        <input class="btn" type="submit" value="Submit">
      
      </form>
  </div>
</section>

{% endblock content%}

>>> add my picture
>>> new branch on git for run on local server
>>> digital ocean live
>>> domen name
>>> how to make subdomain
>>> SSL lets encrypt